.App {
  text-align: center;
  background-color: rgb(106, 185, 214);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  background-color: rgb(106, 185, 214);
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  width: 200px;
}

#quiz-container{
  background-color: rgb(106, 185, 214);
}

.nav-bar{
  background-color: rgb(91, 166, 193);
  display: flex;
  justify-content: left;
}

.nav-item{
  margin-left: 10px;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.nav-item:hover{
  background-color: rgb(106, 185, 214);
}

a:visited{
  text-decoration: none;
  color: white;
}

.quiz-item{
  background-color: rgb(255, 255, 255);
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  color: black;
}

.quiz-preview-thumb{
  width: 70px;
  height: 70px;
  margin: 10px;
  border-radius: 10px;
}

.preview-thumb-container{
  display: flex;
  justify-content: center;


}

button{
  border: none;
  background-color: #61dafb;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #61dafb;
  margin: 10px;

}

.submit-button{
  border: none;
  background-color: #61dafb;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #61dafb;
  margin: 10px;
  width: 100px;
  height: 40px;
}

button:hover{
  background-color: white;
  border: 1px solid #61dafb;
}

.submit-button:hover{
  background-color: white;
  border: 1px solid #61dafb;
}

input{
  border-style: none;
  margin: 10px;
  border-radius: 5px;
  height: 30px;
  width: 300px;
}

#login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signup-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selected{
  background-color: rgb(106, 185, 214);
}

#quiz-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#quiz-form-container{
  display: flex;
  justify-content:space-around;
  margin-top: 20px;
}

.quiz-form-img{
  margin-top: 25px;
  width: 80px;
  height: 80px;
}

.img-container{
  margin-bottom: 30px;
}

.quiz-form-image-container{
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  padding-top: 20px;
  margin-bottom: 70px;
  background-color: #282c34;
  width: 50%;
  border-radius: 5px;
}

.answer-input{
  background-color: #b3f8c2;
}

#delete-quiz-btn{
  background-color: #e1714f;
  border-color: #282c34;
}

ul{
  list-style-type: none;
}

#results-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-self: center;
}

#wrong-answer{
  color: red;
}

#right-answer{
  color: green;
}

.result{
  margin-top: 30px;
  padding-bottom: 60px;
}

.result-img{
  height: 100px;
}

.results-column{
  width: 30%;
}

.attempt-results{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profile-img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 10px;
}

#welcome-banner{
  display: flex;
  justify-content: center;
}

#attempt-div{
  display: flex;
  justify-content: center;
}

.attempt-sub-div{
  width: 40%;
  margin-top: 20px;
}


.attempt-thumb{
  display: flex;
  justify-content: space-evenly;
  border: 1px solid white;
  border-radius: 5px;
  width: 80%;
  margin-left: 10%;
}

#your-quizzes-banner{
  display: flex;
  justify-content: center;
  align-items: center;
}

#your-quizzes-banner-btn{
  height: 40px;

}